.flexLogo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 479px){
    .flexLogo{
        img{
            width: 20rem;
        }
    }
}

.gridProveedores{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
   

    img{
        width: 10rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    }
}

@media screen and (max-width: 479px){
    .gridProveedores{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);

        img{
            width: 7rem;
        }
    }
}

h1, h2, h3{
    color: rgb(35, 173, 178);
    text-align: center;
    margin-bottom: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    
}

@media screen and (max-width: 479px){
    h1,h2,h3{
        font-size: 2rem;
       margin-bottom: 1rem;
    }
}

a{
    text-decoration: none;
}

h2{
    margin-top: 4rem;
}

.cuentas{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

@media screen and (max-width: 479px){
    p{
        font-size: .8rem;
    }
}

.flexCap{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width: 479px){
    .flexCap{
        flex-direction: column;
    }
}

.btnCap{
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: red;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

@media screen and (max-width: 479px){
    .btnCap{
        text-align: center;
    }
}

.titleFlex{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width: 479px){
    .titleFlex{
        flex-direction: column;
    }
}

.contactFlex{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    a{
        color: rgb(0, 0, 0);
        font-family:Arial, Helvetica, sans-serif;
    }
}

.logoCap{
    display: flex;
    justify-content: center;

    img{
         width: 10rem;
         margin-top: 1rem;
         margin-bottom: 2rem;
         filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    }
}

@media screen and (max-width: 479px){
    img{
        width: 8rem;
    }
}

.capFlex{
    display: flex;
    flex-direction: column;
    text-align: center;

    a{
        color: rgb(0, 0, 0);
        margin-bottom: 1rem;
        font-family:Arial, Helvetica, sans-serif;
        transition: .2s;
    }

    a:hover{
        scale: 1.2;
    }
}

@media screen and (max-width: 479px){
    .capFlex{
         a{
        font-size: .8rem;
    }
    }
    
   
}

.redesFlex{
    display: flex;
   text-align: center;
    flex-direction: column;

    a{
        color: rgb(0, 0, 0);
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
    }
}